<div class="container mt-5">

  <div class="row align-items-center">
    <div class="col-md-6">
      <div class="input-group search-bar">
        <span class="input-group-text">
          <i class="bi bi-search"></i>
        </span>
        <input type="text" class="form-control" placeholder="Search by email" [(ngModel)]="searchEmail" (input)="searchForClaims()">
      </div>
    </div>

    <div class="col-md-6 text-md-end">
      <div class="input-group reimbursement-type-select">
        <select class="form-select" [(ngModel)]="selectedReimbursementType" (change)="searchForClaims()">
          <option value="">All Types</option>
          <option *ngFor="let type of reimbursementTypeList" [value]="type.reimbursementTypeId">{{ type.type }}</option>
        </select>
      </div>
    </div>
  </div>
  <br>

  <div class="row" *ngIf="declinedClaims.length > 0; else noClaims">
    <table class="table table-striped table-hover claims-table">
      <thead class="table-header">
        <th>Date</th>
        <th>Requested By</th>
        <th>Type</th>
        <th>Requested Value</th>
      </thead>
      <tbody>
        <tr *ngFor="let claim of searchClaims">
          <td>{{claim.date}}</td>
          <td>{{claim.email}}</td>
          <td>{{claim.reimbursementType.type}}</td>
          <td>{{claim.requestedValue | number: '1.0-3'}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <ng-template #noClaims>
    <div class="row">
      <div class="col">
        <p>No Declined Claims</p>
      </div>
    </div>
  </ng-template>
</div>
